src/relaxng/materials.rnc

element materials {
  element material {
    (element id { xsd:int } | attribute id { xsd:int }) &

    element density {
      (element value { xsd:double } | attribute value { xsd:double })? &
      (element units { xsd:string { maxLength = "10" } } |
        attribute units { xsd:string { maxLength = "10" } })
    } &

    element nuclide {
      (element name { xsd:string { maxLength = "7" } } | 
        attribute name { xsd:string { maxLength = "7" } }) &
      (element xs { xsd:string { maxLength = "3" } } |
        attribute xs { xsd:string { maxLength = "3" } })? &
      (
        (element ao { xsd:double } | attribute ao { xsd:double }) |
        (element wo { xsd:double } | attribute wo { xsd:double })
      )
    }*  &

    element element {
      (element name { xsd:string { maxLength = "2" } } | 
        attribute name { xsd:string { maxLength = "2" } }) &
      (element xs { xsd:string { maxLength = "3" } } |
        attribute xs { xsd:string { maxLength = "3" } })? &
      (
        (element ao { xsd:double } | attribute ao { xsd:double }) |
        (element wo { xsd:double } | attribute wo { xsd:double })
      )
    }*  &

    element sab {
      (element name { xsd:string { maxLength = "7" } } | 
        attribute name { xsd:string { maxLength = "7" } }) &
      (element xs { xsd:string { maxLength = "3" } } |
        attribute xs { xsd:string { maxLength = "3" } })?
    }*
  }+ &

  element default_xs { xsd:string { maxLength = "3" } }?
}
