src/relaxng/settings.rng

<?xml version="1.0" encoding="UTF-8"?>
<element name="settings" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <interleave>
    <optional>
      <element name="batches">
        <data type="positiveInteger"/>
      </element>
    </optional>
    <optional>
      <element name="confidence_intervals">
        <data type="boolean"/>
      </element>
    </optional>
    <optional>
      <element name="cutoff">
        <interleave>
          <optional>
            <choice>
              <element name="weight">
                <data type="double"/>
              </element>
              <attribute name="weight">
                <data type="double"/>
              </attribute>
            </choice>
          </optional>
          <optional>
            <choice>
              <element name="weight_avg">
                <data type="double"/>
              </element>
              <attribute name="weight_avg">
                <data type="double"/>
              </attribute>
            </choice>
          </optional>
        </interleave>
      </element>
    </optional>
    <optional>
      <element name="energy_grid">
        <choice>
          <value>nuclide</value>
          <value>log</value>
          <value>logarithm</value>
          <value>logarithmic</value>
          <value>material-union</value>
          <value>union</value>
        </choice>
      </element>
    </optional>
    <optional>
      <element name="energy_mode">
        <choice>
          <value>continuous-energy</value>
          <value>ce</value>
          <value>CE</value>
          <value>multi-group</value>
          <value>mg</value>
          <value>MG</value>
        </choice>
      </element>
    </optional>
    <optional>
      <element name="entropy_mesh">
        <data type="positiveInteger"/>
      </element>
    </optional>
    <optional>
      <element name="generations_per_batch">
        <data type="positiveInteger"/>
      </element>
    </optional>
    <optional>
      <element name="inactive">
        <data type="nonNegativeInteger"/>
      </element>
    </optional>
    <optional>
      <element name="keff_trigger">
        <interleave>
          <choice>
            <element name="type">
              <data type="string"/>
            </element>
            <attribute name="type">
              <data type="string"/>
            </attribute>
          </choice>
          <choice>
            <element name="threshold">
              <data type="double"/>
            </element>
            <attribute name="threshold">
              <data type="double"/>
            </attribute>
          </choice>
        </interleave>
      </element>
    </optional>
    <optional>
      <element name="log_grid_bins">
        <data type="positiveInteger"/>
      </element>
    </optional>
    <optional>
      <element name="max_order">
        <data type="nonNegativeInteger"/>
      </element>
    </optional>
    <zeroOrMore>
      <element name="mesh">
        <interleave>
          <choice>
            <element name="id">
              <data type="int"/>
            </element>
            <attribute name="id">
              <data type="int"/>
            </attribute>
          </choice>
          <optional>
            <choice>
              <element name="type">
                <value>regular</value>
              </element>
              <attribute name="type">
                <value>regular</value>
              </attribute>
            </choice>
          </optional>
          <choice>
            <element name="dimension">
              <list>
                <oneOrMore>
                  <data type="positiveInteger"/>
                </oneOrMore>
              </list>
            </element>
            <attribute name="dimension">
              <list>
                <oneOrMore>
                  <data type="positiveInteger"/>
                </oneOrMore>
              </list>
            </attribute>
          </choice>
          <choice>
            <element name="lower_left">
              <list>
                <oneOrMore>
                  <data type="double"/>
                </oneOrMore>
              </list>
            </element>
            <attribute name="lower_left">
              <list>
                <oneOrMore>
                  <data type="double"/>
                </oneOrMore>
              </list>
            </attribute>
          </choice>
          <choice>
            <choice>
              <element name="upper_right">
                <list>
                  <oneOrMore>
                    <data type="double"/>
                  </oneOrMore>
                </list>
              </element>
              <attribute name="upper_right">
                <list>
                  <oneOrMore>
                    <data type="double"/>
                  </oneOrMore>
                </list>
              </attribute>
            </choice>
            <choice>
              <element name="width">
                <list>
                  <oneOrMore>
                    <data type="double"/>
                  </oneOrMore>
                </list>
              </element>
              <attribute name="width">
                <list>
                  <oneOrMore>
                    <data type="double"/>
                  </oneOrMore>
                </list>
              </attribute>
            </choice>
          </choice>
        </interleave>
      </element>
    </zeroOrMore>
    <optional>
      <element name="no_reduce">
        <data type="boolean"/>
      </element>
    </optional>
    <optional>
      <element name="output">
        <interleave>
          <optional>
            <choice>
              <element name="summary">
                <data type="boolean"/>
              </element>
              <attribute name="summary">
                <data type="boolean"/>
              </attribute>
            </choice>
          </optional>
          <optional>
            <choice>
              <element name="tallies">
                <data type="boolean"/>
              </element>
              <attribute name="tallies">
                <data type="boolean"/>
              </attribute>
            </choice>
          </optional>
          <optional>
            <choice>
              <element name="path">
                <data type="string"/>
              </element>
              <attribute name="path">
                <data type="string"/>
              </attribute>
            </choice>
          </optional>
        </interleave>
      </element>
    </optional>
    <optional>
      <element name="particles">
        <data type="positiveInteger"/>
      </element>
    </optional>
    <optional>
      <element name="ptables">
        <data type="boolean"/>
      </element>
    </optional>
    <optional>
      <element name="run_cmfd">
        <data type="boolean"/>
      </element>
    </optional>
    <optional>
      <element name="run_mode">
        <data type="string"/>
      </element>
    </optional>
    <optional>
      <element name="seed">
        <data type="positiveInteger"/>
      </element>
    </optional>
    <zeroOrMore>
      <element name="source">
        <grammar>
          <start>
            <interleave>
              <optional>
                <choice>
                  <element name="strength">
                    <data type="double"/>
                  </element>
                  <attribute name="strength">
                    <data type="double"/>
                  </attribute>
                </choice>
              </optional>
              <optional>
                <choice>
                  <element name="file">
                    <data type="string"/>
                  </element>
                  <attribute name="file">
                    <data type="string"/>
                  </attribute>
                </choice>
              </optional>
              <optional>
                <element name="space">
                  <interleave>
                    <choice>
                      <element name="type">
                        <data type="string"/>
                      </element>
                      <attribute name="type">
                        <data type="string"/>
                      </attribute>
                    </choice>
                    <optional>
                      <choice>
                        <element name="parameters">
                          <list>
                            <oneOrMore>
                              <data type="double"/>
                            </oneOrMore>
                          </list>
                        </element>
                        <attribute name="parameters">
                          <list>
                            <oneOrMore>
                              <data type="double"/>
                            </oneOrMore>
                          </list>
                        </attribute>
                      </choice>
                    </optional>
                    <optional>
                      <element name="x">
                        <ref name="distribution"/>
                      </element>
                    </optional>
                    <optional>
                      <element name="y">
                        <ref name="distribution"/>
                      </element>
                    </optional>
                    <optional>
                      <element name="z">
                        <ref name="distribution"/>
                      </element>
                    </optional>
                  </interleave>
                </element>
              </optional>
              <optional>
                <element name="angle">
                  <interleave>
                    <choice>
                      <element name="type">
                        <data type="string"/>
                      </element>
                      <attribute name="type">
                        <data type="string"/>
                      </attribute>
                    </choice>
                    <optional>
                      <choice>
                        <element name="reference_uvw">
                          <list>
                            <data type="double"/>
                            <data type="double"/>
                            <data type="double"/>
                          </list>
                        </element>
                        <attribute name="reference_uvw">
                          <list>
                            <data type="double"/>
                            <data type="double"/>
                            <data type="double"/>
                          </list>
                        </attribute>
                      </choice>
                    </optional>
                    <optional>
                      <element name="mu">
                        <ref name="distribution"/>
                      </element>
                    </optional>
                    <optional>
                      <element name="phi">
                        <ref name="distribution"/>
                      </element>
                    </optional>
                  </interleave>
                </element>
              </optional>
              <optional>
                <element name="energy">
                  <ref name="distribution"/>
                </element>
              </optional>
              <optional>
                <choice>
                  <element name="write_initial">
                    <data type="boolean"/>
                  </element>
                  <attribute name="write_initial">
                    <data type="boolean"/>
                  </attribute>
                </choice>
              </optional>
            </interleave>
          </start>
          <define name="distribution">
            <interleave>
              <choice>
                <element name="type">
                  <data type="string">
                    <param name="maxLength">16</param>
                  </data>
                </element>
                <attribute name="type">
                  <data type="string">
                    <param name="maxLength">16</param>
                  </data>
                </attribute>
              </choice>
              <optional>
                <choice>
                  <element name="interpolation">
                    <data type="string"/>
                  </element>
                  <attribute name="interpolation">
                    <data type="string"/>
                  </attribute>
                </choice>
              </optional>
              <optional>
                <choice>
                  <element name="parameters">
                    <list>
                      <oneOrMore>
                        <data type="double"/>
                      </oneOrMore>
                    </list>
                  </element>
                  <attribute name="parameters">
                    <list>
                      <oneOrMore>
                        <data type="double"/>
                      </oneOrMore>
                    </list>
                  </attribute>
                </choice>
              </optional>
            </interleave>
          </define>
        </grammar>
      </element>
    </zeroOrMore>
    <optional>
      <element name="state_point">
        <choice>
          <choice>
            <element name="batches">
              <list>
                <oneOrMore>
                  <data type="positiveInteger"/>
                </oneOrMore>
              </list>
            </element>
            <attribute name="batches">
              <list>
                <oneOrMore>
                  <data type="positiveInteger"/>
                </oneOrMore>
              </list>
            </attribute>
          </choice>
          <choice>
            <element name="interval">
              <data type="positiveInteger"/>
            </element>
            <attribute name="interval">
              <data type="positiveInteger"/>
            </attribute>
          </choice>
        </choice>
      </element>
    </optional>
    <optional>
      <element name="source_point">
        <interleave>
          <optional>
            <choice>
              <choice>
                <element name="batches">
                  <list>
                    <oneOrMore>
                      <data type="positiveInteger"/>
                    </oneOrMore>
                  </list>
                </element>
                <attribute name="batches">
                  <list>
                    <oneOrMore>
                      <data type="positiveInteger"/>
                    </oneOrMore>
                  </list>
                </attribute>
              </choice>
              <choice>
                <element name="interval">
                  <data type="positiveInteger"/>
                </element>
                <attribute name="interval">
                  <data type="positiveInteger"/>
                </attribute>
              </choice>
            </choice>
          </optional>
          <optional>
            <choice>
              <element name="separate">
                <data type="boolean"/>
              </element>
              <attribute name="separate">
                <data type="boolean"/>
              </attribute>
            </choice>
          </optional>
          <optional>
            <choice>
              <element name="write">
                <data type="boolean"/>
              </element>
              <attribute name="write">
                <data type="boolean"/>
              </attribute>
            </choice>
          </optional>
          <optional>
            <choice>
              <element name="overwrite_latest">
                <data type="boolean"/>
              </element>
              <attribute name="overwrite_latest">
                <data type="boolean"/>
              </attribute>
            </choice>
          </optional>
        </interleave>
      </element>
    </optional>
    <optional>
      <element name="survival_biasing">
        <data type="boolean"/>
      </element>
    </optional>
    <optional>
      <element name="temperature_default">
        <data type="double"/>
      </element>
    </optional>
    <optional>
      <element name="temperature_method">
        <data type="string"/>
      </element>
    </optional>
    <optional>
      <element name="temperature_multipole">
        <data type="boolean"/>
      </element>
    </optional>
    <optional>
      <element name="temperature_range">
        <list>
          <data type="double"/>
          <data type="double"/>
        </list>
      </element>
    </optional>
    <optional>
      <element name="temperature_tolerance">
        <data type="double"/>
      </element>
    </optional>
    <optional>
      <element name="threads">
        <data type="positiveInteger"/>
      </element>
    </optional>
    <optional>
      <element name="trace">
        <list>
          <oneOrMore>
            <data type="positiveInteger"/>
          </oneOrMore>
        </list>
      </element>
    </optional>
    <optional>
      <element name="track">
        <list>
          <oneOrMore>
            <data type="positiveInteger"/>
          </oneOrMore>
        </list>
      </element>
    </optional>
    <optional>
      <element name="trigger">
        <interleave>
          <choice>
            <element name="active">
              <data type="boolean"/>
            </element>
            <attribute name="active">
              <data type="boolean"/>
            </attribute>
          </choice>
          <choice>
            <element name="max_batches">
              <data type="positiveInteger"/>
            </element>
            <attribute name="max_batches">
              <data type="positiveInteger"/>
            </attribute>
          </choice>
          <optional>
            <choice>
              <element name="batch_interval">
                <data type="positiveInteger"/>
              </element>
              <attribute name="batch_interval">
                <data type="positiveInteger"/>
              </attribute>
            </choice>
          </optional>
        </interleave>
      </element>
    </optional>
    <optional>
      <element name="ufs_mesh">
        <data type="positiveInteger"/>
      </element>
    </optional>
    <optional>
      <element name="verbosity">
        <data type="positiveInteger"/>
      </element>
    </optional>
    <zeroOrMore>
      <element name="volume_calc">
        <interleave>
          <choice>
            <element name="domain_type">
              <data type="string"/>
            </element>
            <attribute name="domain_type">
              <data type="string"/>
            </attribute>
          </choice>
          <choice>
            <element name="domain_ids">
              <list>
                <oneOrMore>
                  <data type="integer"/>
                </oneOrMore>
              </list>
            </element>
            <attribute name="domain_ids">
              <list>
                <oneOrMore>
                  <data type="integer"/>
                </oneOrMore>
              </list>
            </attribute>
          </choice>
          <choice>
            <element name="samples">
              <data type="positiveInteger"/>
            </element>
            <attribute name="samples">
              <data type="positiveInteger"/>
            </attribute>
          </choice>
          <choice>
            <element name="lower_left">
              <list>
                <oneOrMore>
                  <data type="double"/>
                </oneOrMore>
              </list>
            </element>
            <attribute name="lower_left">
              <list>
                <oneOrMore>
                  <data type="double"/>
                </oneOrMore>
              </list>
            </attribute>
          </choice>
          <choice>
            <element name="upper_right">
              <list>
                <oneOrMore>
                  <data type="double"/>
                </oneOrMore>
              </list>
            </element>
            <attribute name="upper_right">
              <list>
                <oneOrMore>
                  <data type="double"/>
                </oneOrMore>
              </list>
            </attribute>
          </choice>
        </interleave>
      </element>
    </zeroOrMore>
    <optional>
      <element name="resonance_scattering">
        <interleave>
          <optional>
            <choice>
              <element name="enable">
                <data type="boolean"/>
              </element>
              <attribute name="enable">
                <data type="boolean"/>
              </attribute>
            </choice>
          </optional>
          <optional>
            <choice>
              <element name="method">
                <data type="string"/>
              </element>
              <attribute name="method">
                <data type="string"/>
              </attribute>
            </choice>
          </optional>
          <optional>
            <choice>
              <element name="energy_min">
                <data type="double"/>
              </element>
              <attribute name="energy_min">
                <data type="double"/>
              </attribute>
            </choice>
          </optional>
          <optional>
            <choice>
              <element name="energy_max">
                <data type="double"/>
              </element>
              <attribute name="energy_max">
                <data type="double"/>
              </attribute>
            </choice>
          </optional>
          <optional>
            <choice>
              <element name="nuclides">
                <list>
                  <oneOrMore>
                    <data type="string"/>
                  </oneOrMore>
                </list>
              </element>
              <attribute name="nuclides">
                <list>
                  <oneOrMore>
                    <data type="string"/>
                  </oneOrMore>
                </list>
              </attribute>
            </choice>
          </optional>
        </interleave>
      </element>
    </optional>
  </interleave>
</element>
