src/relaxng/tallies.rng

<?xml version="1.0" encoding="UTF-8"?>
<element name="tallies" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <interleave>
    <zeroOrMore>
      <element name="mesh">
        <interleave>
          <choice>
            <element name="id">
              <data type="int"/>
            </element>
            <attribute name="id">
              <data type="int"/>
            </attribute>
          </choice>
          <choice>
            <interleave>
              <choice>
                <element name="type">
                  <value>regular</value>
                </element>
                <attribute name="type">
                  <value>regular</value>
                </attribute>
              </choice>
              <choice>
                <element name="dimension">
                  <list>
                    <oneOrMore>
                      <data type="positiveInteger"/>
                    </oneOrMore>
                  </list>
                </element>
                <attribute name="dimension">
                  <list>
                    <oneOrMore>
                      <data type="positiveInteger"/>
                    </oneOrMore>
                  </list>
                </attribute>
              </choice>
              <choice>
                <element name="lower_left">
                  <list>
                    <oneOrMore>
                      <data type="double"/>
                    </oneOrMore>
                  </list>
                </element>
                <attribute name="lower_left">
                  <list>
                    <oneOrMore>
                      <data type="double"/>
                    </oneOrMore>
                  </list>
                </attribute>
              </choice>
              <choice>
                <choice>
                  <element name="upper_right">
                    <list>
                      <oneOrMore>
                        <data type="double"/>
                      </oneOrMore>
                    </list>
                  </element>
                  <attribute name="upper_right">
                    <list>
                      <oneOrMore>
                        <data type="double"/>
                      </oneOrMore>
                    </list>
                  </attribute>
                </choice>
                <choice>
                  <element name="width">
                    <list>
                      <oneOrMore>
                        <data type="double"/>
                      </oneOrMore>
                    </list>
                  </element>
                  <attribute name="width">
                    <list>
                      <oneOrMore>
                        <data type="double"/>
                      </oneOrMore>
                    </list>
                  </attribute>
                </choice>
              </choice>
            </interleave>
            <interleave>
              <choice>
                <element name="type">
                  <value>rectilinear</value>
                </element>
                <attribute name="type">
                  <value>rectilinear</value>
                </attribute>
              </choice>
              <choice>
                <element name="x_grid">
                  <list>
                    <oneOrMore>
                      <data type="double"/>
                    </oneOrMore>
                  </list>
                </element>
                <attribute name="x_grid">
                  <list>
                    <oneOrMore>
                      <data type="double"/>
                    </oneOrMore>
                  </list>
                </attribute>
              </choice>
              <choice>
                <element name="y_grid">
                  <list>
                    <oneOrMore>
                      <data type="double"/>
                    </oneOrMore>
                  </list>
                </element>
                <attribute name="y_grid">
                  <list>
                    <oneOrMore>
                      <data type="double"/>
                    </oneOrMore>
                  </list>
                </attribute>
              </choice>
              <choice>
                <element name="z_grid">
                  <list>
                    <oneOrMore>
                      <data type="double"/>
                    </oneOrMore>
                  </list>
                </element>
                <attribute name="z_grid">
                  <list>
                    <oneOrMore>
                      <data type="double"/>
                    </oneOrMore>
                  </list>
                </attribute>
              </choice>
            </interleave>
          </choice>
        </interleave>
      </element>
    </zeroOrMore>
    <zeroOrMore>
      <element name="derivative">
        <interleave>
          <choice>
            <element name="id">
              <data type="int"/>
            </element>
            <attribute name="id">
              <data type="int"/>
            </attribute>
          </choice>
          <choice>
            <element name="material">
              <data type="int"/>
            </element>
            <attribute name="material">
              <data type="int"/>
            </attribute>
          </choice>
          <choice>
            <choice>
              <element name="variable">
                <value>density</value>
              </element>
              <attribute name="variable">
                <value>density</value>
              </attribute>
            </choice>
            <interleave>
              <choice>
                <element name="variable">
                  <value>nuclide_density</value>
                </element>
                <attribute name="variable">
                  <value>nuclide_density</value>
                </attribute>
              </choice>
              <choice>
                <element name="nuclide">
                  <data type="string">
                    <param name="maxLength">12</param>
                  </data>
                </element>
                <attribute name="nuclide">
                  <data type="string">
                    <param name="maxLength">12</param>
                  </data>
                </attribute>
              </choice>
            </interleave>
            <choice>
              <element name="variable">
                <value>temperature</value>
              </element>
              <attribute name="variable">
                <value>temperature</value>
              </attribute>
            </choice>
          </choice>
        </interleave>
      </element>
    </zeroOrMore>
    <zeroOrMore>
      <element name="filter">
        <interleave>
          <choice>
            <element name="id">
              <data type="int"/>
            </element>
            <attribute name="id">
              <data type="int"/>
            </attribute>
          </choice>
          <choice>
            <interleave>
              <choice>
                <element name="type">
                  <choice>
                    <value>cell</value>
                    <value>cellfrom</value>
                    <value>cellborn</value>
                    <value>material</value>
                    <value>universe</value>
                    <value>surface</value>
                    <value>distribcell</value>
                    <value>mesh</value>
                    <value>energy</value>
                    <value>energyout</value>
                    <value>mu</value>
                    <value>polar</value>
                    <value>azimuthal</value>
                    <value>delayedgroup</value>
                    <value>energyfunction</value>
                    <value>meshsurface</value>
                    <value>cellinstance</value>
                  </choice>
                </element>
                <attribute name="type">
                  <choice>
                    <value>cell</value>
                    <value>cellfrom</value>
                    <value>cellborn</value>
                    <value>material</value>
                    <value>universe</value>
                    <value>surface</value>
                    <value>distribcell</value>
                    <value>mesh</value>
                    <value>energy</value>
                    <value>energyout</value>
                    <value>mu</value>
                    <value>polar</value>
                    <value>azimuthal</value>
                    <value>delayedgroup</value>
                    <value>energyfunction</value>
                    <value>meshsurface</value>
                    <value>cellinstance</value>
                  </choice>
                </attribute>
              </choice>
              <choice>
                <element name="bins">
                  <list>
                    <oneOrMore>
                      <data type="double"/>
                    </oneOrMore>
                  </list>
                </element>
                <attribute name="bins">
                  <list>
                    <oneOrMore>
                      <data type="double"/>
                    </oneOrMore>
                  </list>
                </attribute>
              </choice>
            </interleave>
            <interleave>
              <choice>
                <element name="type">
                  <value>energyfunction</value>
                </element>
                <attribute name="type">
                  <value>energyfunction</value>
                </attribute>
              </choice>
              <choice>
                <element name="energy">
                  <list>
                    <oneOrMore>
                      <data type="double"/>
                    </oneOrMore>
                  </list>
                </element>
                <attribute name="energy">
                  <list>
                    <oneOrMore>
                      <data type="double"/>
                    </oneOrMore>
                  </list>
                </attribute>
              </choice>
              <choice>
                <element name="y">
                  <list>
                    <oneOrMore>
                      <data type="double"/>
                    </oneOrMore>
                  </list>
                </element>
                <attribute name="y">
                  <list>
                    <oneOrMore>
                      <data type="double"/>
                    </oneOrMore>
                  </list>
                </attribute>
              </choice>
            </interleave>
          </choice>
        </interleave>
      </element>
    </zeroOrMore>
    <zeroOrMore>
      <element name="tally">
        <interleave>
          <choice>
            <element name="id">
              <data type="int"/>
            </element>
            <attribute name="id">
              <data type="int"/>
            </attribute>
          </choice>
          <optional>
            <choice>
              <element name="name">
                <data type="string">
                  <param name="maxLength">52</param>
                </data>
              </element>
              <attribute name="name">
                <data type="string">
                  <param name="maxLength">52</param>
                </data>
              </attribute>
            </choice>
          </optional>
          <optional>
            <choice>
              <element name="estimator">
                <choice>
                  <value>analog</value>
                  <value>tracklength</value>
                  <value>collision</value>
                </choice>
              </element>
              <attribute name="estimator">
                <choice>
                  <value>analog</value>
                  <value>tracklength</value>
                  <value>collision</value>
                </choice>
              </attribute>
            </choice>
          </optional>
          <optional>
            <choice>
              <element name="filters">
                <list>
                  <oneOrMore>
                    <data type="int"/>
                  </oneOrMore>
                </list>
              </element>
              <attribute name="filters">
                <list>
                  <oneOrMore>
                    <data type="int"/>
                  </oneOrMore>
                </list>
              </attribute>
            </choice>
          </optional>
          <optional>
            <element name="nuclides">
              <list>
                <oneOrMore>
                  <data type="string">
                    <param name="maxLength">12</param>
                  </data>
                </oneOrMore>
              </list>
            </element>
          </optional>
          <element name="scores">
            <list>
              <oneOrMore>
                <data type="string">
                  <param name="maxLength">20</param>
                </data>
              </oneOrMore>
            </list>
          </element>
          <zeroOrMore>
            <element name="trigger">
              <interleave>
                <choice>
                  <element name="type">
                    <data type="string"/>
                  </element>
                  <attribute name="type">
                    <data type="string"/>
                  </attribute>
                </choice>
                <choice>
                  <element name="threshold">
                    <data type="double"/>
                  </element>
                  <attribute name="threshold">
                    <data type="double"/>
                  </attribute>
                </choice>
                <optional>
                  <choice>
                    <element name="scores">
                      <list>
                        <oneOrMore>
                          <data type="string">
                            <param name="maxLength">20</param>
                          </data>
                        </oneOrMore>
                      </list>
                    </element>
                    <attribute name="scores">
                      <list>
                        <oneOrMore>
                          <data type="string">
                            <param name="maxLength">20</param>
                          </data>
                        </oneOrMore>
                      </list>
                    </attribute>
                  </choice>
                </optional>
              </interleave>
            </element>
          </zeroOrMore>
          <optional>
            <choice>
              <element name="derivative">
                <data type="int"/>
              </element>
              <attribute name="derivative">
                <data type="int"/>
              </attribute>
            </choice>
          </optional>
        </interleave>
      </element>
    </zeroOrMore>
    <optional>
      <element name="assume_separate">
        <data type="boolean"/>
      </element>
    </optional>
  </interleave>
</element>
