tests/openmc_chain_schemas.xsd

<?xml version="1.0"?>
<xs:schema 
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
    vc:minVersion="1.1">
    <xs:annotation>
        <xs:documentation>
            Author: Lorenzo Canzian, newcleo Spa, Italy
            Date: 2025-09-25
        </xs:documentation>
    </xs:annotation>

    <xs:element name="depletion_chain" type="chain"/> 
        
    <xs:complexType name="chain">
        <xs:annotation>
            <xs:documentation xml:lang="en">Inside the depletion chain (root tag) one can have unlimited nuclide tags</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="nuclide" type="nuclideinfo" maxOccurs="unbounded"/>
            
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="dataListType">
        <xs:list itemType="xs:double"/>
    </xs:simpleType>
                    
    <xs:complexType name="nuclideinfo">

        <xs:choice maxOccurs="unbounded">
            <xs:annotation>
                <xs:documentation xml:lang="en">Each nuclide can have multiple possibile interactions, so there are unlimited choices between different kind of tags</xs:documentation>
            </xs:annotation>
            <xs:element name="decay" maxOccurs="unbounded" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="en">Decay tag contains informations about the decay channel of the nuclide. We have three attributes:
                        type of decay, target produced, branching ratio. Type of decays include (name, (A_change, Z_change))
                        0: ('gamma', (0, 0)),
                        1: ('beta-', (0, 1)),
                        2: ('ec/beta+', (0, -1)),
                        3: ('IT', (0, 0)),
                        4: ('alpha', (-4, -2)),
                        5: ('n', (-1, 0)),
                        6: ('sf', None),
                        7: ('p', (-1, -1)),
                        8: ('e-', (0, 0)),
                        9: ('xray', (0, 0)),    
                        10: ('unknown', None)
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>                    
                    <xs:attribute name="type" type="xs:string" use="required"/>
                    <xs:attribute name="target" type="xs:string" use="optional"/>
                    <xs:attribute name="branching_ratio" type="xs:decimal" use="required"/>                    
                </xs:complexType>
            </xs:element>
            
            <xs:element name="reaction" maxOccurs="unbounded" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="en">Reaction tag contains informations about the transmutation channel of the nuclide. There are four possible attributes:
                    type of reaction, target produced, Q value, branching ratio. Reactions are written as (n,2n), (n,fission),(n,gamma),(n,p), etc...
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>                        
                    <xs:attribute name="type" type="xs:string" use="required"/>
                    <xs:attribute name="target" type="xs:string" use="optional"/>                
                    <xs:attribute name="Q" type="xs:decimal" use="optional"/>  
                    <xs:attribute name="branching_ratio" type="xs:decimal" use="optional"/>    
                </xs:complexType>
            </xs:element>

            <xs:element name="source" maxOccurs="unbounded" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="en">Source tag contains informations about other particles produced during decays of the nuclide. There are three attributes:
                    type, particle produced, interpolation. We also have another nested tag named parameter which contain the parameters linked to the particle emission
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>                                   
                    <xs:sequence>         
                        <xs:element name="parameters">
                            <xs:annotation>
                                <xs:documentation xml:lang="en">First half are photon energies (in eV), second half are intensities (probabilities of emission)</xs:documentation>
                            </xs:annotation>                      
                            <xs:simpleType>
                                <xs:list itemType="xs:string"/>
                            </xs:simpleType>
                        </xs:element>
                    </xs:sequence>
                    <xs:attribute name="type" type="xs:string" use="required"/>
                    <xs:attribute name="particle" type="xs:string" use="required"/>  
                    <xs:attribute name="interpolation" type="xs:string" use="optional"/>  
                </xs:complexType>
            </xs:element>
            
            <xs:element name="neutron_fission_yields" maxOccurs="unbounded" minOccurs="0">
            <xs:annotation>
                <xs:documentation xml:lang="en">Fission_yields tag contains informations about the products of a fission and the relative fission yields
                </xs:documentation>
            </xs:annotation>
            <xs:complexType>
                <xs:sequence minOccurs="0">
                <xs:element name="energies" minOccurs="0">
                    <xs:simpleType>
                        <xs:list itemType="xs:double"/>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="fission_yields" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                    <xs:sequence>
                        <xs:element name="products" minOccurs="0">
                        <xs:simpleType>
                            <xs:list itemType="xs:string"/>
                        </xs:simpleType>
                        </xs:element>
                        <xs:element name="data" minOccurs="0">
                            <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="dataListType">
                                            <xs:assert test="abs(sum(for $x in tokenize(., '\s+') return number($x)) - 2) &lt; 0.0001"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                    <xs:attribute name="energy" type="xs:double"/>
                    </xs:complexType>
                </xs:element>
                </xs:sequence>
                <xs:attribute name="parent" type="xs:string" use="optional"/>
            </xs:complexType>
            </xs:element>
        </xs:choice>
        <xs:attribute name="name" type="xs:string" use="required"/>
        <xs:attribute name="half_life" type="xs:string" use="optional"/>
        <xs:attribute name="decay_modes" type="xs:integer" use="optional"/>
        <xs:attribute name="decay_energy" type="xs:decimal" use="optional"/>
        <xs:attribute name="reactions" type="xs:integer" use="optional"/>
        <xs:assert test="not(decay) or abs(sum(decay/@branching_ratio) - 1) &lt; 0.0001" />
        <xs:assert test="not(reaction) or abs(sum(reaction/@branching_ratio) - 1) &lt; 0.0001 or sum(reaction/@branching_ratio) &lt; 0.0001" />
    </xs:complexType>
</xs:schema>